@inherits LayoutComponentBase

<div class="d-flex flex-column min-vh-100"
     style="background: linear-gradient(135deg, #ffffff, #cfcceb, #aeabd1) !important;">

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Employee Management App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/EmployeeManagement">Employee Management</a>
                </div> 
            </div>
        </nav>
    </header>

    <main class="flex-fill">
        @Body
    </main>

    <footer class="bg-body-tertiary text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2025 Copyright:
            <a class="text-body" href="https://github.com/kallimorou1/EmployeeManagementPortal">
                Melpomeni
            </a>
        </div>
    </footer>
</div>
